body {
    margin: 0;
    padding: 0;

}
.cc {
    display: flex;
    justify-content : center;
}
.container {
    
    border: 1px solid black;
    padding: 20px 20px;
    width: 240px;
    background-color: rgb(27, 26, 26);

}
.result {
    border: 1px solid transparent;
    height: 60px;
    width: 250px;
    font-size : 50px;
    color: white;
    background-color: rgb(37, 36, 36);
    
}
.numbers {
    border : 1px solid transparent;
    padding: 20px 20px;
    border-radius: 50%;
}
.button1 {
    border : 1px solid transparent;
    padding: 20px 20px;
    border-radius: 50%;
}
.buttons {
    margin: 10px;
}