body {
    margin: 0;
    padding: 0;

}
.cc {
    display: flex;
    justify-content : center;
    margin: 20px;
}
.container {
    
    border: 1px solid black;
    padding: 20px 20px;
    width: 260px;
    background-color: rgb(41, 40, 40);
    border-radius: 8px;

}
.result {
    border: 1px solid transparent;
    height: 60px;
    width: 250px;
    font-size : 50px;
    color: white;
    background-color: rgb(56, 55, 55);
    
}
.numbers {
    border : 1px solid transparent;
    padding: 20px 20px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    background-color:  rgb(56, 55, 55);
}
.button1 {
    border : 1px solid transparent;
    padding: 20px 20px;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgb(235, 156, 9);
}
.buttons {
    margin: 10px;
   
}